@model IEnumerable<TestMvc4.Models.SubTopicDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FACULTY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DURATION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubTopic.subtopics)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FACULTY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DURATION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubTopic.subtopics)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.stdID }) |
            @Html.ActionLink("Details", "Details", new { id=item.stdID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.stdID })
        </td>
    </tr>
}

</table>
