@model PatientInformation.Models.Patient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Patient</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.patientName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.patientName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.patientAge)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.patientAge)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.note)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.note)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.patientId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
