@model IEnumerable<PatientInformation.Models.Patient>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.patientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patientAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.note)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.patientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.patientAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.note)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.patientId }) |
            @Html.ActionLink("Details", "Details", new { id=item.patientId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.patientId })
        </td>
    </tr>
}

</table>
